{% extends "base_generic.html" %}

{% block content %}
<h2>Студент</h2>

  <p>Ваши данные:</p>
  <ul>
    <li><strong>Фамилия:</strong> {{ surname }}</li>
    <li><strong>Имя:</strong> {{ name }}</li>
    <li><strong>Отчество:</strong> {{ patronymic }}</li>
  </ul>
<h3>Ваши НИРС</h3>

  {% if nirs %}
  <ul>

    {% for N in nirs %}
    <li>
      <a href="{{ N.get_absolute_url }}">{{N.title}}</a> ({{N.supervisor}})
    </li>
    {% endfor %}

  </ul>
  {% else %}
    <p>На данный момент вы не принимали участие в НИРС.</p>
  {% endif %} 
<h3>Ваши статьи</h3>

    {% if articles %}
    <ul>

      {% for article in articles %}
      <li>
        {{article.title}}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>На данный момент у вас нет ни одной(.</p>
    {% endif %} 

<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}