.u-section-1 .u-sheet-1 {
  min-height: 654px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 16px auto 0 47px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 11px auto 0 47px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 20px 982px 0 47px;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  font-weight: normal;
  margin: -29px 904px 0 170px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 13px auto 0 47px;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: -29px auto 0 170px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 11px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 35px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin: 14px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 34px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 193px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-3 {
    width: 103px;
    margin-right: 782px;
  }

  .u-section-1 .u-text-4 {
    width: 66px;
    margin-right: 804px;
    margin-left: 70px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 562px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 654px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 382px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 474px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 182px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 274px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 107px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }
}